BARCA_IMX376_SUNNY=/odm/etc/camera/smartae/imx376/
BARCA_OV20880_OFILM=/odm/etc/camera/smartae/ov20880/
BARCA_OV20880_FOXCONN=/odm/etc/camera/smartae/ov20880/
BARCA_IMX486HYBIRD_SUNNY=/odm/etc/camera/smartae/imx486/
BARCA_OV12A10HYBIRD_LITEON=/odm/etc/camera/smartae/ov12a10/
BARCA_OV12A10HYBIRD_OFILM=/odm/etc/camera/smartae/ov12a10/
